.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: gainsboro;
}

.App-link {
  color: #61dafb;
}

/* Add an opaque background to the Me div */
.Me {
  background-color: rgba(12, 32, 123, 0.6);
  border-radius: 9px;
  padding: 0.5em;
  margin: 0.5em;
}

.faction-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
